@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
.column{
    padding: 30px;
}
.user{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}
.avatar-position{
    margin-top: 5%;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    padding: 20px;
}
.avatar{
    border-radius: 50%;
    padding-bottom: 10px;
}
.border{
    margin: auto;
    width: 50%;
    padding: 3px;
    border-radius: 50px 20px;
    background-image: linear-gradient(to left,#d46300,#FFF100,#d46300);
    color: black;
    background-size: 200%;
    transition: 1s;

}
.border:hover{
    background-position: right;
}
.border-text{
    color: black;
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    font-family: 'Cormorant SC', serif;
}

.border-text:hover{
    color: red;
}